@model BookBazaar.Models.Book


<div class="card text-center col-sm-4 m-3 p-4" style="width:18rem;">
    <img src="/Images/@Model.Image" class="card-img-top p-1" style="height: 230px" alt="Book Image">
    <div class="card-body">
        <h5 class="card-title poppins-black">@Model.Title</h5>
        <!-- If quantity is 0 then display item out of stock, otherwise display in stock with quantity -->
        @if (Model.Quantity < 1)
        {
            <p class="card-text poppins-regular" style="color:red">Out of Stock</p>
        }
        else
        {
            <p class="card-text poppins-regular">In Stock: @Model.Quantity</p>
        }
        <p class="card-text poppins-regular">@Model.Price.ToString("c")</p>

        @* <a href="#" class="btn btn-primary">Add to Cart</a> *@
        <!-- Add to cart button -->
        <form id="@Model.Id" asp-page="/Cart" method="post">
            <input type="hidden" asp-for="@Model.Id" />
            <input type="hidden" name="returnUrl"
                    value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="card-text p-1 poppins-regular truncate">
                @Model.Description
                <br />
            </span>
            <button type="submit"
                    class="btn btn-success btn-sm ">
                Add To Cart
            </button>
        </form>

    </div>
</div>

